@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #1e1e1e !important;
    color: #FFF;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
